# Core functionality - changes here should be rare!
/src/app.py                   @ModusOperandom
/src/backend/database.py      @ModusOperandom
/src/backend/routers/auth.py  @ModusOperandom

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ModusOperandom
